[Unit]
Description=wasmcli
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=wasmd
Group=wasmd
PermissionsStartOnly=true
ExecStart=/usr/bin/wasmcli rest-server --laddr {{GAIACLI_ADDRESS}}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

