[Unit]
Description=wasmd
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=wasmd
Group=wasmd
PermissionsStartOnly=true
ExecStart=/usr/bin/wasmd start
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

