name: Protobuf Linting
# run buf lint (https://buf.build/)
# This workflow is only run when a .proto file has been changed
on:
  pull_request:
    paths:
      - "proto/**"

permissions:
  contents: read

jobs:
  buf-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: bufbuild/buf-setup-action@v1.47.2

      # lint checks
      - uses: bufbuild/buf-lint-action@v1
        with:
          input: "proto"
