---
on: [push, pull_request]
name: Test

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    name: test
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.0
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Test
        run: go test ./...
